---
import NavigationBar from "../components/Navbar/NavigationBar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<NavigationBar welcomeStatus={false} />
  <h1>Proyects</h1>
</Layout>