---
import NavigationBar from "../components/Navbar/NavigationBar.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/proyects.css";
import Chip from "../components/Chips/Chip.astro";
---

<Layout>
  <NavigationBar welcomeStatus={false} />
  <div class="chips-container">
    <Chip title="Proyect 1" background="proyect-image-1" />
    <Chip title="Proyect 2" background="proyect-image-2" />
    <Chip title="Proyect 3" background="proyect-image-3" />
  </div>
</Layout>
