---
import WelcomeTag from './WelcomeTag.astro'
import './navigationbar.css'

const { welcomeStatus } = Astro.props
---

<div class="wrapper">
  <a class="items" href="/">Home</a>
  <a class="items" href="/proyects">Proyects</a>
  <a class="items" href="/about">About Me</a>
</div>
{
  welcomeStatus ? <WelcomeTag greeting="Welcome to my portfolio" /> : null
}
