---
import ProfileDetail from "../components/ProfileDetail.astro";
import "../styles/profile.css";
import profile_image from "../assets/gohan.jpeg";

const profileName = "Dave Hdz";
---

<div class="profile3D-container">
  <div class="title">
    <h1>My Profile</h1>
    <div class="profile-tag">
      <img src={profile_image.src} alt="profile">
      <h2 class="profile-name">{profileName}</h2>
    </div>
  </div>
</div>

<ProfileDetail profileName={profileName} />

<script>
  import { toggleProfile } from "../helpers/toggleProfile";
  toggleProfile();
</script>