---
import "../styles/profileDetail.css";

const { profileImage, profileName } = Astro.props;
---

<div class="profileDetail3D-container">
  <div class="header">
    <!-- <img src={profileImage} alt="profile"> -->
    <model-viewer src="models/futuristic-card.glb" auto-rotate></model-viewer>
    <h1 class="profile-name">Hi, I'm {profileName}</h1>
  </div>
  <div class="box-info">
    <div class="info-about">
      <h2>Current status:</h2>
      <p>Working as a Front-End developer 🤖</p>
      <div class="divider"></div>
      <h2>Experience fields:</h2>
      <ul>
        <li>Front-End</li>
        <li>Debbuging</li>
        <li>Database connections</li>
      </ul>
      <div class="divider"></div>
    </div>
  </div>
</div>